/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/processes
/public/processes/*
/public/processes/waiting-jobs
/public/processes/waiting-jobs/*
/public/processes/running-jobs
/public/processes/running-jobs/*
/public/processes/failed-jobs
/public/processes/failed-jobs/*
/public/processes/completed-jobs
/public/processes/completed-jobs/*
